<div class="container" breakpointClass="container">
  <app-toolbar></app-toolbar>

  <div>
    <ng-content></ng-content>
  </div>

  <footer breakpointClass="footer">
    <mat-grid-list cols="3">
      <mat-grid-tile>
        <mat-list>
          <h3>Support</h3>
          <mat-list-item> Help Center </mat-list-item>
          <mat-list-item> AirCover </mat-list-item
          ><mat-list-item> Anti-discrimation </mat-list-item
          ><mat-list-item> Disability support </mat-list-item
          ><mat-list-item> Cancellation options </mat-list-item
          ><mat-list-item> Report neighborhood concern </mat-list-item>
        </mat-list>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-list>
          <h3>Hosting</h3>
          <mat-list-item>AirBnb your home</mat-list-item>
          <mat-list-item> AirCover for hosts</mat-list-item
          ><mat-list-item> Community forum </mat-list-item
          ><mat-list-item>Hosting resources </mat-list-item
          ><mat-list-item>Hosting ressponsibly </mat-list-item
          ><mat-list-item> Airbnb-friendly apartments </mat-list-item>
        </mat-list>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-list>
          <h3>Airbnb</h3>
          <mat-list-item>Newsroom</mat-list-item>
          <mat-list-item> New features</mat-list-item
          ><mat-list-item> Careers</mat-list-item
          ><mat-list-item>investors </mat-list-item
          ><mat-list-item>Gift cards</mat-list-item
          ><mat-list-item> Airbnb.org emergency stays </mat-list-item>
        </mat-list>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-divider> </mat-divider>
    <div class="copyrighter">
      <div>
        <span>© 2023 Airbnb, Inc.</span>
        <a href=""> Terms . </a>
        <a href="">Sitemap</a>
        <a href="">Privacy</a>
        <a href="">Your Privacy Choices</a>
      </div>
      <div>
        <span>
          <i class="fa-solid fa-globe"></i>
          English
        </span>
        <span> $ USD </span>
        <span>
          <i class="fa-brands fa-facebook"></i>
        </span>
        <span>
          <i class="fa-brands fa-twitter"></i>
        </span>
        <span><i class="fa-brands fa-instagram"></i></span>
      </div>
    </div>
  </footer>
</div>
