@{
    ViewData["Title"] = "Home Page";
}
<div class="home_body">

    <partial name="_FilterPartial" model="@ViewBag.typeModel" />
    <div class="search-block">
        @await Html.PartialAsync("_GeopifyPartial")
    </div>
</div>